<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="g2_integration" providerName="System.Data.SqlClient" connectionString="Data Source=SOUVIK-AB-216TX\ROCKER;Initial Catalog=g2_integration;User ID=sa;Password=123;" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>